---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ post.excerpt }}</p>
		<p>[{% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}<a href="/tag/{{ tag_name }}/"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code></a>{% endfor %}]</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		{{ page.content }}

		<div class="alert alert-success" role="alert">
  			If you like this project or any of my projects, please consider donating on <a href="https://github.com/sponsors/brandonhimpfen/" class="alert-link">GitHub Sponsor</a> or <a href="https://www.buymeacoffee.com/brandonhimpfen" class="alert-link">Buy Me a Coffee</a>.
		</div>
	</div>

</section>
