---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>


	</div>

</section>

<section class="single">

	<div class="wrap">

		<a href="/projects/" title="Projects">&larr; View All Projects</a>

		<p><img src="{{ page.featured_image | relative_url }}" alt="" data-cms-original-src="{{ page.featured_image | relative_url }}" /></p>

		{{ page.content }}

		<div class="alert alert-success" role="alert">
  			If you like this project or any of my projects, please consider donating on <a href="https://github.com/sponsors/brandonhimpfen/" class="alert-link">GitHub Sponsor</a> or <a href="https://www.buymeacoffee.com/brandonhimpfen" class="alert-link">Buy Me a Coffee</a>.
		</div>

		<a href="/projects/" title="Projects">&larr; View All Projects</a>

	</div>

</section>